body::-webkit-scrollbar-track {
	border: 1px solid transparent;
	border-radius: 50%;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
	width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
	border: 1px solid var(--primaryLight);
	border-radius: 50em;
    background-color: var(--primaryAlpha);
}
