::-webkit-scrollbar { 
  display: none; /* Chrome Safari */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y:scroll;
  overflow-x:hidden;
}



html
body{
  overflow: hidden;
}

#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tabs {
  width: 100%;
  transition: all 3s;
}

.tab-content {
  padding: 20px;
}

.tab-arrow {
  display: none;
  
}

.tab-list {
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-left: 0;
  cursor: pointer;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}



.tab-list-active {
  background-color: white;
  border-bottom: 2px solid #005099;
  color: #005099;
  font-weight: bold;
}


.produto_box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row
}

.produto{
  width: 350px;
  height:200px;
  border: 2px solid black;
  margin-bottom: 15px
}
